*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:  url(image/burg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.header{
    width: 100%;
    background:purple;
    position: absolute;
    top: 0;
    z-index: 10;
}
.navbar{
    width: 85%;
    margin: auto;
    display: flex;
}
.logo{
    flex-basis: 15%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
    margin: 20px 0;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
}
.navbar ul{
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: flex-end;
}
.navbar ul li{
    list-style: none;
    margin-left: 25px;
    padding: 6px 16px;
}
.navbar ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.navbar ul li a:hover{
    
    transition: 0.4s ease;
    text-decoration: underline;
}

.row{
    width: 85%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0%;
    
    transform: translate(-50%,-50%);
}
.col{
    flex-basis: 50%;
}
.col h1{
   font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   animation: motion 3s linear infinite;
   
}

.content-image{
    width: 100%;
}
.content-image img{
    width: 85%;
    animation: motion 3s linear infinite;
}
@keyframes motion{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.content{
    width: 100%;
    padding-left: 30px;
}
.content h1{
    font-size: 60px;
    color: #fff;
    font-weight: 100;
}
.content p{
    color: orange;
    line-height: 22px;
    margin: 20px 0 40px;
    font-size: larger;
}
button{
    display: block;
    padding: 18px;
    outline: none;
    border: 0;
    background:  linear-gradient(to right,rgba(193,66,151,1),rgba(72,90,216,1));
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    left: 50%;
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}
.heading p{
    font-size: 18px;
    color: black;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.about-image{
    flex: 1;
    margin-right: 35px;
    overflow: hidden;
}
.about-image img{
    max-width: 85;
    height: auto;
    display: block;
    animation: motion 3s linear infinite;
    
    
}
@keyframes motion{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}

.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 30px;
    margin-bottom: 15px;
    color:black;
    font-weight: solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: black;
}
.button{
    padding: 15px;
    border: 0;
    background:  linear-gradient(to right,rgba(193,66,151,1),rgba(72,90,216,1));
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: wavy;
}
@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;

    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;

    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
}

.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
}

.title h1::after{
    content:"" ;
    height: 4px;
    width: 230px;
    background-color: #000;
    display: block;
    margin: auto;
}

.products{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: white;
    
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    transition: 0.6s ease;
    background-color: whitesmoke;
}
.card .image{
    font-size: 55px;
    margin-bottom: 10px;
}
.card h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: brown;
}
.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: black;
}

.box {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4caf50;
}
.box button{
    border: none;
    background: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.box button:hover{
    color: #000;
}
.contact-section{
    padding: 40px 0;
    background-size: cover;
}
.contact-section h1{
    text-align: center;
    color: black;
    font-size: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 25px 0;
    border: 0;
    background: purple;
    padding: 20px 40px;
    outline: none;
    color: white;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px navy;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 8;
    background: linear-gradient(to right,rgba(193,66,151,1),rgba(72,90,216,1));
    color: #fff;
    padding: 12px 30PX;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}
.contact-form-btn-c{
    float: left;
    border: 8;
    background: linear-gradient(to right,rgba(193,66,151,1),rgba(72,90,216,1));
    color: #fff;
    padding: 12px 30PX;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}
.contact-form-btn:hover{
    background: navy;
}
.contact-form-btn-c:hover{
    background: navy;

}
footer{
    background-color: #111;
    overflow: scroll;
}
.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialicons{
      display: flex;
      justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialicons a:hover{
    background-color: bisque;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: #fff;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: #fff;
    text-align: center;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
